[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/benchmark"]
	path = ThirdParty/benchmark
	url = https://github.com/google/benchmark.git
